<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="/styles.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div class="cpc-card">
      {% include navigation.html %}
    </div>
    <div class="main-content-width">
      {{ content }}
    </div>
  </body>
</html>
